body {
    text-align: center;
    font-family: "Roboto Light", sans-serif;
}

th {
    text-align: center;
    font-family: "Roboto Light", sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.player-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.player-clickable {
    margin-bottom: 10px;
    background-color: #3a3a3a;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    display: inline-block;
    text-align: center;
}

.player-clickable:hover {
            background-color: #555;
}

.column {
            flex: 1;
            padding: 10px;
}

form {
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

h2 {
            color: #fff;
            font-size: 24px;
            margin-bottom: 10px;
}

body[data-theme="light"] {
    background-color: #fffafa;
    color: #fffafa;
}

body[data-theme="dark"] {
    background-color: #222222;
    color: #fffafa;
}

body[data-theme="colour1"] {
    background-color: #708090;
    color: #fffafa;
}

.rounded-rectangle {
    width: 1800px;
    height: 800px;
    border: 3px solid #000000;
    border-radius: 25px;
    padding: 20px;
    background-color: #250042;
    position: absolute;
    z-index: -1;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.theme-toggle-button {
    top: 20px;
    left: 900px;
    position: fixed;
}
