html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Light", sans-serif;
    scrollbar-width: none;
}

body[data-theme="light"] {
    background-color: #fffafa;
    color: #222222;
}

body[data-theme="dark"] {
    background-color: #222222;
    color: #222222;
}

body[data-theme="colour1"] {
    background-color: #dadada;
    color: #ffffff;
}

.theme-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    top: 7.5px;
}

.theme-button {
    background-color: #dadada;
    padding: 1px 2px;
    border-radius: 5px;
}

input[type="file"]::file-selector-button {
    background-color: #dadada;
    border-radius: 5px;
}

.upload-button {
    background-color: #dadada;
    height: 30px;
    width: 175px;
    border-radius: 10px;
    cursor: pointer;
}
.upload-button:hover {

}

.background-rectangle {
    position: relative;

    top: 25px;
    margin-left: 25px;
    margin-right: 25px;

    background-color: #1e0956;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 15px;
    padding: 20px;

    min-height: calc(100vh - 50px);

    height: auto;
    width: auto;
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: none;
}

h1 {
    text-align: center;
    margin-top: 1.25%;
}

form {
    text-align: center;
}

.navigation-container {
    position: fixed;
    background-color: #dadada;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 15px;
    padding: 5px;
    height: 6%;
    width: 8.5%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-container,
.squad-container,
.builder-container,
.help-container {
    display: flex;
    align-items: flex-end;
}
.home-image,
.squad-image,
.builder-image,
.help-image {
    width: 25px;
    height: 25px;
    padding: 5px;
    filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(180deg) brightness(25%) contrast(100%);
    display: block;
}

.home-container::before {
    position: absolute;
    left: -7.5%;
    top: 25%;
    height: 35px;
    width: 75px;
    border-radius: 10px;
    background: #30342f;
    text-align: center;
    align-content: center;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;

    content: attr(data-tooltip);
}
.home-container:hover::before {
    opacity: 1;
    visibility: visible;
}
.squad-container::before {
    position: absolute;
    left: 8.75%;
    top: 0%;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background: #30342f;
    text-align: center;
    align-content: center;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;

    content: attr(data-tooltip);
}
.squad-container:hover::before {
    opacity: 1;
    visibility: visible;
}
.builder-container::before {
    position: absolute;
    left: 30%;
    top: 0%;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background: #30342f;
    text-align: center;
    align-content: center;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;

    content: attr(data-tooltip);
}
.builder-container:hover::before {
    opacity: 1;
    visibility: visible;
}
.help-container::before {
    position: absolute;
    left: 60%;
    top: 25%;
    height: 35px;
    width: 75px;
    border-radius: 10px;
    background: #30342f;
    text-align: center;
    align-content: center;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;

    content: attr(data-tooltip);
}
.help-container:hover::before {
    opacity: 1;
    visibility: visible;
}

.yt-container::before {
    position: absolute;
    left: 0%;
    top: 40%;
    height: 35px;
    width: 75px;
    border-radius: 10px;
    background: #30342f;
    text-align: center;
    align-content: center;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;

    font-size: 14px;

    content: attr(data-tooltip);
}
.yt-container:hover::before {
    opacity: 1;
    visibility: visible;
}

.reddit-container::before {
    position: absolute;
    left: 0%;
    top: 45%;
    height: 35px;
    width: 75px;
    border-radius: 10px;
    background: #30342f;
    text-align: center;
    align-content: center;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;

    font-size: 14px;

    content: attr(data-tooltip);
}
.reddit-container:hover::before {
    opacity: 1;
    visibility: visible;
}

.yt-container {
    position: fixed;
    margin-top: -0.375%;
    margin-left: 15%;
}
.yt-image {
    width: 75px;
    height: 75px;
}

.reddit-container {
    position: fixed;
    margin-top: -0.125%;
    margin-left: 10%;
}
.reddit-image {
    width: 65px;
    height: 65px;
}

.tip-container {
    position: fixed;
    background-color: #dadada;
    border-radius: 25px;
    margin-top: 0%;
    margin-left: 84.825%;
}
.tip-image {
    width: 200px;
    height: 100px;
}

.help-button {
    all: unset;
    cursor: pointer;

}
.help-section {
    position: absolute;
    margin-top: 1.25%;
    margin-left: 2.5%;
}
.help-content {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.help-content.visible {
    opacity: 1;
}

h2 {
    font-size: 32px;
    margin-top: 25px;
    text-decoration: underline;
    text-underline: #ffffff;
    text-decoration-thickness: 1px;
    text-underline-offset: 15px;
}
h3 {
    font-size: 26px;
    margin-top: 35px;
}
h4 {
    font-size: 18px;
}

::-webkit-scrollbar {
    display: none;
}
