.card-rectangle {
    position: relative;
    margin-left: -87.5%;
    margin-top: 2%;

    background:
            repeating-linear-gradient(60deg, gold, #ff8000 50px, gold 50px),
            repeating-linear-gradient(300deg, gold, #ff8000 50px, gold 50px);

    background-size: 100% 100%, 100% 100%;
    background-blend-mode: screen;

    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 175px;
    padding: 20px;
    height: 775px;
    width: 500px;
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: none;
}

.shirt-container {
    position: absolute;
    top: 25%;
    left: 65%;
    transform: translate(-50%, -50%);

}
.shirt-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #222222;
    font-weight: bold;
    font-family: cursive, sans-serif;
    font-size: 44px;
}

.ovr-pos-nat-container {
    position: absolute;
    top: 15%;
    left: 10%;
    text-align: center;

    color: #222222;
    font-weight: bold;
    font-family: Lato, sans-serif;
    font-size: 48px;
}
.ovr {
    display: block;
}
.pos {
    display: block;
}
.nat {
    display: block;
}

.name-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: #222222;
    font-weight: bold;
    font-family: Lato, sans-serif;
    font-size: 38px;
}
.name {
    display: block;
    white-space: nowrap;
}

.horizontal-line-top {
    position: absolute;
    bottom: 48.25%;
    left: 12.5%;
    width: 75%;
    border-bottom: 2px solid #222222;
    transform-origin: center;
    z-index: 0;
    opacity: 50%;
}
.vertical-line-1 {
    position: absolute;
    top: 200%;
    bottom: -382.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #222222;
    opacity: 50%;
}
.horizontal-line-bottom {
    position: absolute;
    bottom: 26.25%;
    left: 12.5%;
    width: 75%;
    border-bottom: 2px solid #222222;
    transform-origin: center;
    z-index: 0;
    opacity: 50%;
}
.vertical-line-2 {
    position: absolute;
    top: 575%;
    bottom: -772.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #222222;
    opacity: 50%;
}

.pac-sho-pas-container {
    position: absolute;
    top: 62.5%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: #222222;
    font-weight: bold;
    font-family: Lato, sans-serif;
    font-size: 32px;
}
.pac {
    display: block;
}
.sho {
    display: block;
}
.pas {
    display: block;
}

.dri-def-phy-container {
    position: absolute;
    top: 62.5%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: #222222;
    font-weight: bold;
    font-family: Lato, sans-serif;
    font-size: 32px;
}
.dri {
    display: block;
}
.def {
    display: block;
}
.phy {
    display: block;
}

.sm {
    position: absolute;
    top: 80%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: #222222;
    font-weight: bold;
    font-family: Lato, sans-serif;

    display: block;
    text-shadow:
        -0.5px -0.5px 0 black,
        0.5px -0.5px 0 black,
        -0.5px 0.5px 0 black,
        0.5px 0.5px 0 black;
    font-size: 20px;
    line-height: 1;
}
.wf {
    position: absolute;
    top: 85%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: #222222;
    font-weight: bold;
    font-family: Lato, sans-serif;

    display: block;
    text-shadow:
        -0.5px -0.5px 0 black,
        0.5px -0.5px 0 black,
        -0.5px 0.5px 0 black,
        0.5px 0.5px 0 black;
    font-size: 20px;
    line-height: 1;
}
.pref-foot {
    position: absolute;
    top: 90%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: #222222;
    font-weight: bold;
    font-family: Lato, sans-serif;
    font-size: 20px;

    display: block;
    text-shadow:
        -0.5px -0.5px 0 black,
        0.5px -0.5px 0 black,
        -0.5px 0.5px 0 black,
        0.5px 0.5px 0 black;
    line-height: 1;
}

.age {
    position: absolute;
    top: 80%;
    left: 72.5%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: #222222;
    font-weight: bold;
    font-family: Lato, sans-serif;
    font-size: 24px;

    display: block;
    text-shadow:
        -0.25px -0.25px 0 black,
        0.25px -0.25px 0 black,
        -0.25px 0.25px 0 black,
        0.25px 0.25px 0 black;
    line-height: 1;
}

.height-weight {
    position: absolute;
    top: 85%;
    left: 72.5%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: #222222;
    font-weight: bold;
    font-family: Lato, sans-serif;
    font-size: 24px;

    display: block;
    text-shadow:
        -0.25px -0.25px 0 black,
        0.25px -0.25px 0 black,
        -0.25px 0.25px 0 black,
        0.25px 0.25px 0 black;
    line-height: 1;
}

.personality {
    position: absolute;
    top: 90%;
    left: 72.5%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: #222222;
    font-weight: bold;
    font-family: Lato, sans-serif;
    font-size: 24px;

    display: block;
    text-shadow:
        -0.25px -0.25px 0 black,
        0.25px -0.25px 0 black,
        -0.25px 0.25px 0 black,
        0.25px 0.25px 0 black;
    line-height: 1;
}