html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Light", sans-serif;
}

body[data-theme="light"] {
    background-color: #fffafa;
    color: #222222;
}

body[data-theme="dark"] {
    background-color: #222222;
    color: #222222;
}

body[data-theme="colour1"] {
    background-color: #708090;
    color: #222222;
}

.theme-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    top: 7.5px;
}

.theme-button {
    background-color: #d3d3d3;
    padding: 1px 2px;
    border-radius: 5px;
}

.background-rectangle {
    position: relative;

    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;

    background-color: #B2BEB5;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
    padding: 20px;

    min-height: calc(100vh - 75px);

    height: auto;
    width: auto;
    box-sizing: border-box;
    overflow: auto;
}

ul {
    font-weight: bold;
    list-style-type: none;
}

.goalkeeper-column {
    position: absolute;
    left: 7.5%;
    top: 2.5%;
    text-align: center;
}

.defender-column {
    position: absolute;
    left: 32.5%;
    top: 2.5%;
    text-align: center;
}

.midfielder-column {
    position: absolute;
    left: 57.5%;
    top: 2.5%;
    text-align: center;
}

.attacker-column {
    position: absolute;
    left: 82.5%;
    top: 2.5%;
    text-align: center;
}

.player-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-display {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid #222222;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 200px; /* Adjust the maximum width as per your design */
}

.player-display img.flag {
    max-width: 50px;
    vertical-align: middle;
    margin-right: 5px;
}

.player-display:hover {
    background-color: #e0e0e0;
    border-color: #888888;
    cursor: pointer;
}