<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Info</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/player_info.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/player_info_card.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/player_positions.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation_styles.css') }}">
    <script src="{{ url_for('static', filename='js/theme-toggle.js') }}" defer></script>
</head>

<body data-theme="colour1">
    <div class="background-rectangle">

        <div class="container">
            <div class="navigation-container">
                <div class="home-container">
                    <a href="{{ url_for('index') }}">
                        <img class="home-image" src="{{ url_for('static', filename='img/misc/oi--home.png') }}" alt="">
                    </a>
                </div>
                <div class="squad-container">
                    <a href="{{ url_for('squad_overview') }}">
                        <img class="squad-image" src="{{ url_for('static', filename='img/misc/oi--people.png') }}" alt="">
                    </a>
                </div>
            </div>

            <div class="card-rectangle">
                <div class="shirt-container">
                    <img src="static/img/misc/plain-white-football-shirt.svg" width="250px" height="250px" alt="">
                    <div class="shirt-number">
                        {{ player['Squad Number'] }}
                    </div>
                </div>

                <div class="ovr-pos-nat-container">
                    <div class="ovr">
                        {{ player['Best Overall'] }}
                    </div>
                    <div class="pos">
                        {{ player['Position'] }}
                    </div>
                    <div class="nat">
                        <img class="flag" style="outline: 5px solid gold" width="70" height="42" src="{{ url_for('static', filename='img/flags/400_240_flags/' + player['Nation'] + '.png') }}">
                    </div>
                </div>

                <div class="name-container">
                    <div class="name">
                        {{ player['Name'] }}

                        <div class="vertical-line-1"></div>
                        <div class="vertical-line-2"></div>
                    </div>
                </div>

                <div class="horizontal-line-top"></div>
                <div class="horizontal-line-bottom"></div>

                <div class="pac-sho-pas-container">
                    <div class="pac">
                        {{ player['Pace'] }}  PAC
                    </div>
                    <div class="sho">
                        {{ player['Shooting'] }}  SHO
                    </div>
                    <div class="pas">
                        {{ player['Passing'] }}  PAS
                    </div>
                </div>
                <div class="dri-def-phy-container">
                    <div class="dri">
                        {{ player['Dribbling'] }}  DRI
                    </div>
                    <div class="def">
                        {{ player['Defending'] }}  DEF
                    </div>
                    <div class="phy">
                        {{ player['Physical'] }}  PHY
                    </div>
                </div>
                <div class="sm">
                    SM:
                    {% for i in range(player['Skill Moves']) %}
                        ⭐
                    {% endfor %}
                </div>
                <div class="wf">
                    WF:
                    {% for i in range(player['Weak Foot']) %}
                        ⭐
                    {% endfor %}
                </div>
                <div class="pref-foot">
                    {{ player['Preferred Foot'] }} footed
                </div>
                <div class="age">
                    {{ player['Age'] }} y/o
                </div>
                <div class="height-weight">
                    {{ player['Height'] }}
                    {{ player['Weight'] }}
                </div>
                <div class="personality">
                    {{ player['Personality'] }}
                </div>
            </div>

            <div class="positions-pitch-container">
                <img src="static/img/misc/pitch.svg" style="outline: 7.5px solid black" width="520px" height="804px" alt="">

                <div class="GK-container">
                    <div class="GK-content">
                        {{ player['Position Overalls'][0] }}
                    </div>
                </div>
                <div class="GK-label">
                        GK
                </div>

                <div class="LB-container">
                    <div class="LB-content">
                        {{ player['Position Overalls'][1] }}
                    </div>
                </div>
                <div class="LB-label">
                        LB
                </div>
                <div class="RB-container">
                    <div class="RB-content">
                        {{ player['Position Overalls'][1] }}
                    </div>
                </div>
                <div class="RB-label">
                    RB
                </div>
                <div class="LCB-container">
                    <div class="LCB-content">
                        {{ player['Position Overalls'][3] }}
                    </div>
                </div>
                <div class="LCB-label">
                    LCB
                </div>
                <div class="RCB-container">
                    <div class="RCB-content">
                        {{ player['Position Overalls'][3] }}
                    </div>
                </div>
                <div class="RCB-label">
                    RCB
                </div>

                <div class="LWB-container">
                    <div class="LWB-content">
                        {{ player['Position Overalls'][2] }}
                    </div>
                </div>
                <div class="LWB-label">
                        LWB
                </div>
                <div class="RWB-container">
                    <div class="RWB-content">
                        {{ player['Position Overalls'][2] }}
                    </div>
                </div>
                <div class="RWB-label">
                    RWB
                </div>
                <div class="CDM-container">
                    <div class="CDM-content">
                        {{ player['Position Overalls'][4] }}
                    </div>
                </div>
                <div class="CDM-label">
                    CDM
                </div>

                <div class="LM-container">
                    <div class="LM-content">
                        {{ player['Position Overalls'][7] }}
                    </div>
                </div>
                <div class="LM-label">
                        LM
                </div>
                <div class="RM-container">
                    <div class="RM-content">
                        {{ player['Position Overalls'][7] }}
                    </div>
                </div>
                <div class="RM-label">
                    RM
                </div>
                <div class="LCM-container">
                    <div class="LCM-content">
                        {{ player['Position Overalls'][5] }}
                    </div>
                </div>
                <div class="LCM-label">
                    LCM
                </div>
                <div class="RCM-container">
                    <div class="RCM-content">
                        {{ player['Position Overalls'][5] }}
                    </div>
                </div>
                <div class="RCM-label">
                    RCM
                </div>

                <div class="LW-container">
                    <div class="LW-content">
                        {{ player['Position Overalls'][8] }}
                    </div>
                </div>
                <div class="LW-label">
                        LW
                </div>
                <div class="RW-container">
                    <div class="RW-content">
                        {{ player['Position Overalls'][8] }}
                    </div>
                </div>
                <div class="RW-label">
                    RW
                </div>
                <div class="CAM-container">
                    <div class="CAM-content">
                        {{ player['Position Overalls'][6] }}
                    </div>
                </div>
                <div class="CAM-label">
                    CAM
                </div>


                <div class="ST-container">
                    <div class="ST-content">
                        {{ player['Position Overalls'][9] }}
                    </div>
                </div>
                <div class="ST-label">
                    ST
                </div>

            </div>
        </div>
    </div>



</body>