<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squad Overview</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/theme-toggle.js') }}" defer></script>
</head>

<body data-theme="colour1">
    <button class="theme-toggle-button" id="theme-toggle-button">Toggle Theme</button>

    <div id="{{ rectangle.id }}" class="rounded-rectangle" style="top: {{ rectangle.top }}px; left: {{ rectangle.left }}px; width: {{ rectangle.width }}px; height: {{ rectangle.height }}px; ">
        <ul>
            <li><img class="flag" src="{{ url_for('static', filename='img/flags/' + player['Nation'] + '.png') }}"></li>
            <li>{{ player['Name'] }}</li>
            <li>{{ player['Age'] }}</li>
            <li>{{ player['Club'] }}</li>
            <li>{{ player['Division'] }}</li>
            <li>{{ player['Squad Number'] }}</li>
            <li>{{ player['Personality'] }}</li>
            <li>{{ player['International Appearances'] }}</li>
            <li>{{ player['International Goals'] }}</li>
            <li>{{ player['Season Appearances'] }}</li>
            <li>{{ player['Average Rating'] }}</li>
            <li>{{ player['Season Goals'] }}</li>
            <li>{{ player['Season Assists'] }}</li>
            <li>{{ player['Best Overall'] }}</li>
            <li>{{ player['Position'] }}</li>
            <li>{{ player['Pace'] }}</li>
            <li>{{ player['Shooting'] }}</li>
            <li>{{ player['Passing'] }}</li>
            <li>{{ player['Dribbling'] }}</li>
            <li>{{ player['Defending'] }}</li>
            <li>{{ player['Physical'] }}</li>
            <li>{{ player['Skill Moves'] }}</li>
            <li>{{ player['Weak Foot'] }}</li>
            <li>{{ player['Preferred Foot'] }}</li>
            <li>{{ player['Height'] }}</li>
            <li>{{ player['Weight'] }}</li>
            <li>{{ player['Transfer Value'] }}</li>
            <li>{{ player['Wage'] }}</li>
            <li>{{ player['Injury'] }}</li>
        </ul>
    </div>

</body>