<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squad Overview</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/theme-toggle.js') }}" defer></script>
</head>

<body data-theme="colour1">
    <button class="theme-toggle-button" id="theme-toggle-button">Toggle Theme</button>

    <div id="{{ rectangle.id }}" class="rounded-rectangle" style="top: {{ rectangle.top }}px; left: {{ rectangle.left }}px; width: {{ rectangle.width }}px; height: {{ rectangle.height }}px; ">

</body>