<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squad Overview</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/player_info.css') }}">
    <script src="{{ url_for('static', filename='js/theme-toggle.js') }}" defer></script>
</head>

<body data-theme="colour1">
    <div class="background-rectangle">
        <div class="card-rectangle">

        </div>
    </div>

</body>