<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squad Builder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/squad_builder.css') }}">
    <script src="{{ url_for('static', filename='js/view-player.js') }}" defer></script>
</head>

<body data-theme="colour1">
    <div class="background-rectangle">
        <div class="navigation-container">
            <div class="home-container">
                <a href="{{ url_for('index') }}">
                    <img class="home-image" src="{{ url_for('static', filename='img/misc/oi--home.png') }}" alt="">
                </a>
            </div>
            <div class="squad-container">
                <a href="{{ url_for('squad_overview') }}">
                    <img class="squad-image" src="{{ url_for('static', filename='img/misc/oi--people.png') }}" alt="">
                </a>
            </div>
            <div class="builder-container">
                <a href="{{ url_for('squad_builder') }}">
                    <img class="builder-image" src="{{ url_for('static', filename='img/misc/oi--wrench.png') }}" alt="">
                </a>
            </div>
        </div>

        <div class="column">
            <h1>Squad</h1>
            <div class="line-squad-header"></div>
            <ul class="player-container">
                {% for player in goalkeepers %}
                    <li onclick="viewPlayer('{{ player['Player ID'] }}')">
                        <div class="player-display">
                            <img class="flag" src="{{ url_for('static', filename='img/flags/20_13_flags/' + player['Nation'] + '.png') }}">
                            {{ player['Name'] }} {{ player['Best Overall'] }}
                        </div>
                    </li>
                {% endfor %}
                {% for player in defenders %}
                    <li onclick="viewPlayer('{{ player['Player ID'] }}')">
                        <div class="player-display">
                            <img class="flag" src="{{ url_for('static', filename='img/flags/20_13_flags/' + player['Nation'] + '.png') }}">
                            {{ player['Name'] }} {{ player['Best Overall'] }}
                        </div>
                    </li>
                {% endfor %}
                {% for player in midfielders %}
                    <li onclick="viewPlayer('{{ player['Player ID'] }}')">
                        <div class="player-display">
                            <img class="flag" src="{{ url_for('static', filename='img/flags/20_13_flags/' + player['Nation'] + '.png') }}">
                            {{ player['Name'] }} {{ player['Best Overall'] }}
                        </div>
                    </li>
                {% endfor %}
                {% for player in attackers %}
                    <li onclick="viewPlayer('{{ player['Player ID'] }}')">
                        <div class="player-display">
                            <img class="flag" src="{{ url_for('static', filename='img/flags/20_13_flags/' + player['Nation'] + '.png') }}">
                            {{ player['Name'] }} {{ player['Best Overall'] }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="pitch-container">
            <img src="static/img/misc/pitch.svg" style="outline: 7.5px solid black" width="585px" height="905px" alt="">
        </div>
    </div>
</body>