<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squad Overview</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/theme-toggle.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/view-player.js') }}" defer></script>
</head>

<body data-theme="colour1">
    <button id="theme-toggle-button">Toggle Theme</button>

    <div id="{{ rectangle.id }}" class="rounded-rectangle" style="top: {{ rectangle.top }}px; left: {{ rectangle.left }}px; width: {{ rectangle.width }}px; height: {{ rectangle.height }}px; ">
        <div class="column">
            <h2>Goalkeepers</h2>
            <ul>
                {% for player in goalkeepers %}
                    <li onclick="viewPlayer('{{ player['Player ID'] }}')">
                        <img class="flag" src="{{ url_for('static', filename='img/flags/' + player['Nation'] + '.png') }}">
                        {{ player['Name'] }} {{ player['Best Overall'] }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="column">
            <h2>Defenders</h2>
            <ul>
                {% for player in defenders %}
                    <li onclick="viewPlayer('{{ player['Player ID'] }}')">
                        <img class="flag" src="{{ url_for('static', filename='img/flags/' + player['Nation'] + '.png') }}">
                        {{ player['Name'] }} {{ player['Best Overall'] }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="column">
            <h2>Midfielders</h2>
            <ul>
                {% for player in midfielders %}
                    <li onclick="viewPlayer('{{ player['Player ID'] }}')">
                        <img class="flag" src="{{ url_for('static', filename='img/flags/' + player['Nation'] + '.png') }}">
                        {{ player['Name'] }} {{ player['Best Overall'] }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="column">
            <h2>Attackers</h2>
            <ul>
                {% for player in attackers %}
                    <li onclick="viewPlayer('{{ player['Player ID'] }}')">
                        <img class="flag" src="{{ url_for('static', filename='img/flags/' + player['Nation'] + '.png') }}">
                        {{ player['Name'] }} {{ player['Best Overall'] }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>